#navegacion {
  position: fixed;
  top: 0px;
  z-index: 15;
}

#clickbox {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 15;
}
.navbar .menuDesplegable {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 15;
}

@media screen and (max-width: 958px) {
  .hamburguesa {
    display: inline-flex;
  }
  .navbar .itemsMenu {
    display: none;
  }
  header .container_search_desktop {
    display: none;
  }
  .navbar .logo a {
    font-size: 1.5rem;
  }
  .navbar .perfil {
    width: 50%;
  }
  .navbar .container_search_desktop {
    display: none;
  }
  .navbar .container_search_movil {
    width: 100%;
  }
  #login-desktop {
    display: none;
  }
}
@media screen and (min-width: 959px) {
  .navbar .items {
    display: none;
  }
  .navbar .logo {
    width: 80px;
    justify-content: flex-start;
  }
  .navbar .itemsMenu {
    justify-content: flex-end;
  }
  .navbar .container_search_desktop {
    width: calc(100% - 680px);
  }
}
