#navegacion {
  position: fixed;
  top: 0px;
  z-index: 15;
}

.navbar .menuDesplegable {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 15;
}

.navbar li {
  width: 100%;
  align-items: flex-start;
}
.navbar ul {
  box-shadow: none;
}
.navbar ul li a:hover {
  background-color: transparent;
}

@media screen and (max-width: 958px) {
  .hamburguesa {
    display: inline-flex;
  }
  .navbar .itemsMenu {
    display: none;
  }
  header .container_search_desktop {
    display: none;
  }
  .navbar .logo a {
    font-size: 1.5rem;
  }
  .navbar .container_search_desktop {
    display: none;
  }
  .navbar .container_search_movil {
    width: 100%;
  }
}
@media screen and (min-width: 959px) {
  .navbar .items {
    display: none;
  }
  .navbar .perfil {
    width: 50px;
    margin-right: 10px;
  }
  .navbar .logo {
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    justify-content: flex-start;
  }
  .navbar .itemsMenu {
    width: 430px;
    justify-content: flex-end;
    margin-right: 20px;
    margin-left: 20px;
  }
  .navbar .container_search_desktop {
    width: calc(100% - 630px);
  }
}
